<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>      
      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <br>
  <div class="field">
    <%= form.label :user_identifier %>       
    <%= form.text_field :user_identifier %>
  </div>  

  <div class="container-nm">
      <p>Enter a unique identifier to be associated with your report.<br><strong>Make sure you remember it</strong>; you'll need it to track your report's resolution status!</p>    
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div class="container-nm">
    <p>Please describe the incident.</p>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary btn-outline" %>      
  </div>
<% end %>
