<% content_for(:title, 'Your Report') %>
<p id="notice"><%= notice %></p>

<h1>Your Report</h1>

<p>
  <strong>Submitted:</strong>
  <%= @report.created_at %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @report.user_identifier %>
</p>
<br>

<p>
  <strong>Date of Incident:</strong>
  <%= @report.date %>
</p>

<p>
  <strong>Time of Incident:</strong>
  <%= @report.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @report.location %>
</p>

<p>
  <strong>Details:</strong>
  <%= @report.details %>
</p>
<br>
<h4>
  <strong>Resolution Status:</strong>
  <%= @report.status %>
</h4>

<%= link_to 'Home', home_index_path, class: "btn btn-primary" %>
