<% content_for(:title, 'Your Report') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @report.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @report.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @report.location %>
</p>

<p>
  <strong>Details:</strong>
  <%= @report.details %>
</p>

<%= link_to 'Home', home_index_path, class: "btn btn-primary" %>
