<header>
  <nav>        
    <ul class="front-nav-ul">        
      <div class="container">
	<%= link_to "Racial Bias Reporter", home_index_path, id: "logo" %>  
      </div>
      <% if logged_in? %>
        <li class="front-nav-ul__li"><%= link_to 'VIEW REPORTS', current_school, class: 'btn btn-success' %></li>          
        <li class="front-nav-ul__li_b"><%= link_to 'ABOUT', about_index_path, class: 'link' %></li>                            
        <li class="front-nav-ul__li_b"><%= link_to 'LOG&nbsp;OUT'.html_safe, logout_path, method: :delete, class: 'link' %></li>      
      <% else %>
        <li class="front-nav-ul__li_np"><%= link_to 'INSTITUTION LOGIN', login_path, class: 'btn btn-info' %></li>      
        <li class="front-nav-ul__li"><%= link_to 'CREATE AN ACCOUNT', new_school_path, class: 'btn btn-info btn-outline' %></li>
        <li class="front-nav-ul__li_b"><%= link_to 'HOME', home_index_path, class: 'link' %></li>
        <li class="front-nav-ul__li"><%= link_to 'ABOUT', about_index_path, class: 'link' %></li>          
      <% end %>
    </ul>
  </nav>
</header>
<main>
  <div class="container">
    <%= yield %>
  </div>
</main>
